extends ../layouts/layout

block content
  h1 Add New Movie
  form(action='/movies/add', method='POST')
    label(for='title') Title:
    input(type='text', name='title', required)
    br
    label(for='genre') Genre:
    input(type='text', name='genre', required)
    br
    label(for='year') Year:
    input(type='number', name='year', required)
    br
    button(type='submit') Add Movie
