extends ../layouts/layout

block content
  h1 Edit Movie
  form(action=`/movies/edit/${movie._id}`, method='POST')
    label(for='title') Title:
    input(type='text', name='title', value=movie.title, required)
    br
    label(for='genre') Genre:
    input(type='text', name='genre', value=movie.genre, required)
    br
    label(for='year') Year:
    input(type='number', name='year', value=movie.year, required)
    br
    button(type='submit') Update Movie
