extends ../layouts/layout

block content
  h1 Your Movies
  a(href='/movies/add') + Add New Movie
  if movies.length
    ul
      each movie in movies
        li
          strong #{movie.title} 
          |  (#{movie.genre}, #{movie.year})
          a(href=`/movies/delete/${movie._id}`) Delete
  else
    p No movies added yet.
